.header {
padding: 25px;
text-align: center;
background: white;
}
.logo{
float: left;
margin-top: 10px;
margin-left: 10px;
width: 80px;
height: auto;
}
.header h1 {
font-size: 40px;
}
.topnav {
overflow: hidden;
background-color: rgb(10, 150, 100);
}
.topnav a {
float: left;
display: block;
color: white;
text-align: center;
padding: 15px 15px;
text-decoration: none;
}
.topnav a:hover {
background-color: rgb(200, 200, 0);
color: black;
}
.Img{
text-align: left;
border-radius: 50%;
width: 450px;
height: auto;
}
.link_1{
color: rgb(40, 200, 120);
}
.title{
font-family: Arial, Helvetica, sans-serif;
}
.heading{
margin: 10px;
background-color: rgb(210, 215, 220);
border-radius: 10px 25px;
}
.heading .heading_item {
font-family: Segoe UI,Frutiger,Arial,sans-serif; 
display : flex;
flex-direction : row;   
}            
.heading .heading_item .heading_image {
margin-right: 30px;
margin-left: 30px;
padding: 20px;
text-align: left;
}
.heading .heading_item .heading_bio{
margin-right: 30px;
margin-left: 30px;
padding: 20px;
text-align: left;
}
.info{
margin: 10px;
background-color: rgb(40, 40, 40);
overflow: hidden;
border-collapse: separate;
border-radius: 25px 10px;
}
.info .info_stuff{
background-color: rgb(40, 40, 40);
font-family: Segoe UI,Helvetica Neue,Arial,sans-serif; 
display : flex;
color: wheat;
float: left;
width: 30%;
}
.info .info_item .info_edu{
background-color: rgb(40, 40, 40);
margin-right: 10px;
margin-left: 30px;
padding: 10px;
text-align: left;
color: white;
width: 30%;
float: left;
}
.info .info_item .info_exp{
background-color: rgb(40, 40, 40);
margin-right: 10px;
margin-left: 10px;
padding: 10px;
text-align: left;
color: white;
float: left;
width: 30%;
}
.info .info_item .info_ref{
background-color: rgb(40, 40, 40);
margin-right: 20px;
margin-left: 20px;
padding: 20px;
text-align: left;
color: white;
float: left;
width: 30%;
}
.tab_1{
padding: 10px;
}
.tab_2{
padding: 10px;
}
.tab_3{
padding: 10px;
}
th, td{
padding: 15px;
text-align: left;
border-bottom: 1px solid rgb(253, 254, 254);
}
td:hover {background-color: wheat;}
body{
background-color: rgb(150, 150, 200);
}
.btn{
width:10%;
padding-top: 20px;
padding-bottom: 20px;
background-color: wheat;
color: black;
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 12px;
}
input[type=submit]:hover {
background-color: rgb(75, 75, 100);
color: white;
}
.footer {
padding: 10px;
background:whitesmoke;
margin-top: 20px;
padding-bottom: 1px;
}
.columnfoot {
float: left;
width: 30%;
padding: 15px;
}
.rowfoot:after {
content: "";
display: table;
clear: both;
}
inpu